@model DontEatAlone.Data.Reservation;
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Reservation Page";
}
<style>
    .comment-wrapper .panel-body {
        overflow: auto;
    }

    .comment-wrapper .media-list .media img {
        height: 64px;
        border: 2px solid #e5e7e8;
    }

    .comment-wrapper .media-list .media {
        border-bottom: 1px dashed #efefef;
        margin-bottom: 25px;
    }
</style>
<script>
    function initMap() { }
</script>
<h1>@Html.DisplayFor(model => model.Title)<span class="badge badge-success" style="background-color:green;">Available</span></h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Info</h3>
            <table class="table table-responsive-md">
                <tbody>
                    <tr>
                        <th scope="row">Title</th>
                        <td>@Html.DisplayFor(model => model.Title)</td>
                    </tr>
                    <tr>
                        <th scope="row">Location</th>
                        <td>@Html.Raw(ViewBag.name)</td>
                    </tr>
                    <tr>
                        <th scope="row">Party Size</th>
                        <td>@Html.DisplayFor(model => model.NumberOfPeople)</td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td>@Html.Raw(ViewBag.address)</td>
                    </tr>
                    <tr>
                        <th scope="row">Limitations</th>
                        <td>@Html.Raw(ViewBag.limitations)</td>
                    </tr>
                    <tr>
                        <th scope="row">Date and Time</th>
                        <td>@Html.DisplayFor(model => model.DateStart) To @Html.DisplayFor(model => model.DateEnd) </td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td>@Html.DisplayFor(model => model.Status)</td>
                    </tr>

                </tbody>

            </table>
            <br />
            <button id="join" type="button" class="btn btn-success">Join Now!</button>
        </div>
        <div class="col-md-6">
            <h3>Map</h3>
            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAhhb5fDHQ6ds91_9uEbw-X7aBKvmpr_Yw&q='@Html.Raw(ViewBag.address)'" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Members</h3>@*//~/images/@Html.Raw(ViewBag.host.profileImg)*@
            <div class="row">
                <div class="col-md-2" style="padding:5px;">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="~/images/@Html.Raw(ViewBag.host.profileImg)" alt="Card image cap" style="width:150px ;height:184px"  >
                        <div class="card-body">
                            <h4 class="card-title">@Html.Raw(ViewBag.host.FirstName)</h4>
                            
                        </div>
                        <div class="card-body">
                            <span class="badge badge-warning" style="background-color:red;">Host</span>
                        </div>
                    </div>
                </div>
                @if (ViewBag.participant != null)
                {
                    @foreach (var participant in ViewBag.participant)
                    {
                        <div class="col-md-2" style="padding:5px;">
                            <div class="card" style="width: 20rem;">
                                <img class="card-img-top" src="~/images/@Html.Raw(participant.profileImg)" alt="Card image cap"style="width:150px ;height:184px"  >
                                <div class="card-body">
                                    <h4 class="card-title">@Html.Raw(participant.FirstName)</h4>

                                </div>
                                <div class="card-body">
                                    <a href="#" class="badge badge-success" style="background-color:green;">Joined</a>
                                </div>
                            </div>
                        </div>

                    }

                }
            </div>

        </div>
        <div class="col-md-12">
            <br />
            <br />
        </div>
        <div class="col-md-12">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Comment panel
                    </div>
                    <div class="panel-body">
                        <textarea class="form-control" placeholder="write a comment..." rows="3" id="comment_text"></textarea>
                        <p id="warning"></p>
                        <br>
                        <button type="button" class="btn btn-info pull-right" onclick="postComment()">Post</button>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            @if (ViewBag.comments != null)
                            {

                                @foreach (var comment in ViewBag.comments)
                                {
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            <img src="~/images/@Html.Raw(comment.ProfileImg)" alt="" class="img-circle">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">@Html.Raw(comment.Date)</small>
                                            </span>
                                            <strong class="text-success">@Html.Raw(comment.AuthorName)</strong>
                                            <p>
                                                @Html.Raw(comment.Content)
                                            </p>
                                        </div>
                                    </li>

                                }

                            }
                            else
                            {
                                <li class="media">
                                    <p>No comments so far!</p>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function postComment() {
        if (!$('#comment_text').val()) {
            $('#warning').html("<br/> <div class='alert alert-warning' role='alert'>You can not submit empty comment!</div>");
            // alert("empty input");
        } else {
            $('#warning').html("");
            var body = $('#comment_text').val();
            var reservationId = @ViewBag.id;
            $.ajax({
                type: "post",
                url: "/Home/createComment",
                data: {
                    msg: "success",
                    body: body,
                    reservationId: reservationId
                },
                dataType: "json",
                success: function (msg) {
                    alert("success");
                    window.location.href = "/Home/ReservationPage/?id=@ViewBag.id"

                },
                //why there is error????
                error: function (msg) {
                    //alert("fail")
                    alert("small fail");
                    window.location.href = "/Home/ReservationPage/?id=@ViewBag.id"
                }
            })
        }

    }
</script>

<script type="text/javascript">
    $('#join').click(function () {
        console.log("i'm here");
        console.log("@User.Identity.Name");
        let userName = "@User.Identity.Name"
		let id =  @ViewBag.id
			$.ajax({
				type: 'post',
                url: '/Home/JoinReservation',
                data: { id: id, name: userName },
				datatype: "json",
				success: function (msg) {
                    if (msg == true) {
                        alert("Request sent!")

					}
					else {

                        alert("fail")
					}
				   // layer.msg('内容')
					//alert('success')

				   // window.location.href = "/Home/WishList"
				},
				error: function (msg) {
					//弹窗，告知用户写入失败
					//alert("评论内容写入失败");
					alert("Fail !!!");
				}

			});

	})
</script>