@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model DontEatAlone.Models.PlaceReservationViewModel
@{
    ViewData["Title"] = "ViewReservations";
}

<script>
    function initMap() {

        function generateMarkerInfoWIndow(title, address, reservations, placeId) {
            let result = `<h5>${title}</h5><h6>${address}</h6>`
            reservations.forEach(r => {
                result += `<a href='https://localhost:44351/Home/ReservationPage/?id=${r.id}'><p>${r.title}</p></a>`
            })
            result += `<a href='https://localhost:44351/Home/CreateReservation/?id=${placeId}'><p>Create Reservation</p></a>`
            return result
        }


        function addMarker(object) {
            var marker = new google.maps.Marker({
                position: { lat: object.latitude, lng: object.longtitude },
                map: map
            })
            var infoWindow = new google.maps.InfoWindow({
                content: generateMarkerInfoWIndow(object.name, object.address, object.reservations, object.id)
            })
            marker.addListener('click', () => {
                infoWindow.open(map, marker)
            })
        }

        let options = {
            zoom: 14,
            center: { lat: 49.2827, lng: -123.1207 }
        }

        let map = new google.maps.Map(document.getElementById('map'), options)

        let markersArray = @Html.Raw(Json.Serialize(Model.Places));

        //console.log(@Html.Raw(Json.Serialize(Model)));

        markersArray.map(r => addMarker(r))
    }
</script>


<h2>View Reservations</h2>
<div id="map"></div>
<form action="/Home/ViewReservations" style="margin-top:40px">
    @if (!User.IsInRole("Regular"))
    {
        <div class="form-group row">
            <div class="col-md-12">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Set filters
                    </button>
                </p>
                <p>@ViewData["filterString"]</p>
                <div class="collapse" id="collapseExample">
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-legend col-sm-2">Sex</legend>
                                    <input type="hidden" name="id" value="1" />
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="gender" value="male">
                                                Male
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="gender" value="female">
                                                Female
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="gender" value="others">
                                                Others
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="gender" value="all">
                                                All
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-legend col-md-2">Other</legend>
                                    <div class="col-md-10">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="smoking" value="true">
                                                Smoking free
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="alcohol" value="true">
                                                Alcohol free
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="pets" value="true">
                                                Pets free
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="kids" value="true">
                                                Kids free
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-legend col-md-2">Age</legend>
                                    <div class="col-md-10">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="age" value="all" checked>
                                                All
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="age" value="18-34">
                                                18-34
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="age" value="35-50">
                                                35-50
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="age" value="51-69">
                                                51-69
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="age" value="70+">
                                                70+
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="inputPassword5">Cuisine</label>
                            <input type="text" class="form-control" aria-describedby="cuisineHelpBlock" name="cuisineType">
                            <small id="cuisineHelpBlock" class="form-text text-muted">
                                You can specify cuisine vie comma separated values. For example: Italian, Ukrainian, Canadian, Chinese
                            </small>
                        </div>
                        <div class="col-md-4">
                            <label for="inputPassword5">Language</label>
                            <input type="text" class="form-control" name="languages">
                            <small class="form-text text-muted">
                                You can specify languge vie comma separated values. For example: English, Russian, Italian, Chinese
                            </small>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary">Apply</button>
                </div>
            </div>
        </div>
    }
</form>
@if (Model.Reservations.Count() == 0)
{
    <h1 style="text-align:center">No Reservations that satisfy your filters :(</h1>
}
else
{
    <table class="table" style="margin-top: 40px">
        <thead>
            <tr>
                <th scope="col">Created By</th>
                @{
                    if (HttpContextAccessor.HttpContext.Request.Cookies.Where(cookie => cookie.Key == "DonotEatAlone").Any())
                    {
                        <th scope="col">Evaluation</th>
                    }
                }

                <th scope="col">Title</th>
                <th scope="col">Location</th>
                <th scope="col">Party Size</th>


                <th scope="col">Date and Time</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (DontEatAlone.Models.ReservationViewModel p in Model.Reservations)
                {
                    <tr>
                        <th scope="row">@p.AuthorName</th>
                        <td>@p.Title</td>
                        <td>@p.LocationAddress</td>
                        <td>@p.NumberOfPeople</td>

                        <td>@p.DateStart.ToString("d MMMM h:m tt") - @p.DateEnd.ToString("h:m tt")</td>
                        <td><button onclick="window.location.href='/Home/ReservationPage/?id=@p.Id'" class="btn btn-success">Open</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@if (User.IsInRole("Regular"))
{
    <div class="footnotes">
        <h6>* Specifying limitations is a premium feature.</h6>
    </div>
}