@model IEnumerable<DontEatAlone.Data.Reservation>

@{
    ViewData["Title"] = "MyReservation";
    Layout = "~/Views/Manage/_Layout.cshtml";
}

<h2>MyReservation</h2>


<table class="table">
    <thead>
        <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                <th>
                    Maxinum People Number
                </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPeople)
            </td>


            <td>
                @Html.ActionLink("Manage Requests", "ManageRequest", new { id = item.Id }) |
                @Html.ActionLink("Details", "ReservationPage", "Home", new { id = item.Id }) | 
                @Html.ActionLink("Delete", "DeleteReservation", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
